* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181719;
}

li {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}

a:hover {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.text-logo {
  font-family: "Crimson Pro";
  color: white;
  padding: 0.5rem;
  background-color: #181719;
  border: 2px solid white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.main-section {
  display: flex;
  padding: 5rem;
  color: white;
}

h1 {
  font-family: "Lora";
  font-size: 48px;
  font-weight: 500;
  padding-top: 7.5rem;
}

p {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  padding: 2rem 8rem 2rem 0;
}

.read-more {
  display: flex;
}

h5 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
}

.image {
  width: 100%;
}

i {
  padding: 5px 0 0 10px;
  color: #fff;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}
